SUPABASE_DB_HOST=db.YOUR_PROJECT_ID.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASS=YOUR_DB_PASSWORD

SUPABASE_URL=https://YOUR_PROJECT_ID.supabase.co
SUPABASE_ANON_KEY=YOUR_ANON_KEY
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtoeGtwaHJ4d250YmNyamZpZ3F1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE2MjAxMywiZXhwIjoyMDg4NzM4MDEzfQ.8jiIsn2Q-HVfLOsKHUVhe4ELqv6UgN3i6wK1fm0pspg

APP_URL=http://localhost:8000
